* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #10b981;
  --secondary-color: ;
  --button-hover: ;
}

/** navbar **/
.navbar {
  width: 100vw;
  height: 15vh;
  text-align: center;
  background-color: var(--primary-color);
}

.navbar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links {
  text-decoration: none;
  margin: 0.5rem 1rem;
  padding: 1rem;
}

/** main **/
main {
  margin: auto;
  padding: 1rem;
  max-width: 600px;
}

/** sections **/

.section {
  padding: 2rem;
}

.section h1 {
  text-align: center;
}

.hidden {
  display: none;
}

#AngleOne,
#AngleTwo {
  display: inline-block;
  border: 2px solid lightblue;
  padding: 1rem;
}

#angleTypeOne,
#angleTypeTwo,
#angleTypeThree {
  display: inline-block;
  border: 2px solid lightcoral;
  padding: 1rem;
}

/** container **/
.container {
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid blue;
}

.container-center {
  max-width: 600px;
  margin: auto;
  padding-bottom: 1rem;
}

/** links **/
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/** lists **/
.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/** footer **/

.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer .footer-header {
  font-size: large;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer .link {
  color: white;
  font-size: 2rem;
}

.footer ul {
  padding-inline-start: 0px;
}

.project-para {
  padding-bottom: 1rem;
}
